<h1>
  <%= @competition.title %>
</h1>
<br/>
<%= @params %>
SR - <%= @params[:signed_request] %>
<br/>

<% if @competition.live %> 
<label class="label label-success" >Live</label>
<% else %>
<label class="label" >Finished</label>
<% end %>

<p>
  <%= @competition.body.html_safe %>
</p>

<style type="text/css">
  <%= @competition.css.html_safe %>
</style>
