

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
       <h2>#MashTag: <span id="current_name"><%= link_to "#{@mashtag.user_name.capitalize}", "//mixcloud.com/#{@mashtag.user_name}", :target => "_blank" %></span></h2>
          <div cass="row">
       
            <p>Enter any Mixcloud username below...</p>
                mixcloud.com/<input type="text" id="username" label="mixcloud username" placeholder="" value="<%= @mashtag.user_name %>" />
                <br/><br/>
                  <button id="submit-button" name="Tag me" class="btn btn-primary">#MashTag</button>
                 <button id="connect" class="hidden btn btn-small"><i class="icon icon-fb" ></i>Add to a Facebook Page Tab</button>              
          </div>
          <br/>
            <div id="cloud" style="width: 500px; height: 400px;"></div>
            <div>
              <a href="https://twitter.com/share" class="twitter-share-button" data-lang="en" data-url="http;://app.facebook/mashtag/" data-text="#Mashup your @mixcloud here app.facebook/mashtag/ #Mashtag" data-via="mashtaggin">Tweet</a>
              <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

            </div>
            <p class="hidden">
            <%= @params %>
            <br/>
            <%= @params["signed_request"] %> <br/>
            </p>
            <div class="row hidden">
              <ol>
              <% @mashtags.each do |mashtag| %>
                <li><%= mashtag.user_name %></li>
              <% end %>
              </ol>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div id="fb-root"></div>

      <hr>

    </div> <!-- /container -->        

        <script>
          window.fbAsyncInit = function() {
            FB.init({
              appId      : '1412697118982924',
              status     : true,
              xfbml      : true
            });

            // Facebook JS UI here
            $("#connect").on("click", function() {

                  FB.ui({
                  method: 'pagetab',
                  redirect_uri: 'https://apps.facebook.com/mashtag/'
                }, function(response){

                  var mashtag = $('#username').val();
                  var page_id = Object.keys(response.tabs_added)[0];

                  $.ajax({
                  type: "POST",
                  url: "/mashtags/facebook",
                  data: { facebook_page_tab: { user_name: mashtag, facebook_page_id: page_id } },
                  success: function() {
                    console.log('success');
                            },
                  dataType: "jsonp"
                });

                  $.ajax({
                  type: "POST",
                  url: "/facebook_page_tab",
                  data: { facebook_page_tab: { mashtag_id: mashtag, facebook_page_id: page_id } },
                  success: function() {
                    console.log('success');
                            },
                  dataType: "jsonp"
                });



                });

             });

            
          };

          (function(d, s, id){
             var js, fjs = d.getElementsByTagName(s)[0];
             if (d.getElementById(id)) {return;}
             js = d.createElement(s); js.id = id;
             js.src = "//connect.facebook.net/en_US/all.js";
             fjs.parentNode.insertBefore(js, fjs);
           }(document, 'script', 'facebook-jssdk'));
        </script> 

        <script>
            var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src='//www.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>
    </body>
</html>



